article#front-page-entry.hentry{	

	@include padding-leader(3);
	
	@include padding-trailer( 4 );
	@include margin-trailer( 2 );

	text-align: center;

	& .pic, & .entry-content, & .callOut{
		//display: inline-block;
		@include inline-block;
		vertical-align: middle;
	}
	
	& .callOut{
		//background: #bad;
		
		& .resumeBlock{
			//display: inline-block;
			@include inline-block;
			vertical-align: middle;
			*vertical-align: top;
			padding-left: 2em;
			
			& a{
				display: block;
				text-transform: uppercase;
				@include adjust-font-size-to( 36px );
				//@include padding-trailer(0.5);
				@include open-sans;
				font-weight: 600;
				color: lighten( $base-button-color, 50% );

				*padding-top: 0.5em;


				& span{
					display: block;
					@include single-text-shadow( darken($base-bg, 30%), -1px, -1px, 0 );
					border-bottom: 1px solid transparent;

					&.line1{
						//@include margin-trailer( 0.25 );
					}
					&.line2{
			            //background: url('../images/arrow.png') no-repeat;
			            //background-size: 100%;
			            //@include adjust-font-size-to( 8px, 0.75 );
			            //font-weight: 700;
			            //letter-spacing: 1px;
			            //position: relative;
			            //top: 0.25em;
			            //width: 70%;
			            //margin-left: auto;
			            //margin-right: auto;
			            //@include padding-trailer(4);
			            //@include margin-leader(0.5);
			            //color: $base-bg;
			            //@include single-transition( 'all', 0.1s, 'ease-in-out' );
						
					}
				}
			}
		}
		
		& .arrow{
            @include single-transition( 'all', 0.1s, 'ease-in-out' );
		}
			
		&:hover{
			
			& .resumeBlock{

				& a{
					color: $base-button-color;
					//text-decoration: underline;

					& span{
						border-bottom: 1px solid $base-button-color;
						
						&.line1{

						}
						&.line2{
							//background: rgba( 255, 255, 255, 0.5 );
							//top: 0.5em;
							//color: darken( $base-button-color, 0% );
						}
					}
				}
			}

			& .arrow{
				left: 1em;
			}
		}
	}
	
	& .pic{
		border: 1px solid $base-grey;
		max-width: 250px;
		& img{
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	& .fpPic{
		border: 1px solid $base-color;
		//display: inline-block;
		@include inline-block;
		vertical-align: middle;
		
		margin-right: 3em;
		& img{
			display: block;
		}
	}

	//@include box-shadow(
	//	darken($base-grey, 0%) 9px 0 12px -12px
//		inset darken($base-grey, 30%) 0 -36px 36px -36px
	//);


	& p{
		margin-top: 0;
		margin-bottom:0;
		line-height: inherit;
	}
	
	& .entry-content{
		margin-right: 3em;
		text-align: left;
		
		
		& #fpMenu{
			border-top: 1px solid $base-grey;
			@include padding-leader();
			@include padding-trailer(0.5);
			
			& .menu{
				@include inline-block-list;
				
				& li{
					margin-right: 0.5em;
					
					& a{
						@include theme-button;
						@include adjust-font-size-to( 12px, 1.5 );
						padding-left: 1em;
						padding-right: 1em;
						display: block;
					}
				}
			}
		}
	}
	
}

